[submodule "3rd/stm32-make"]
	path = 3rd/stm32-make
	url = https://github.com/mphhpm/stm32-make.git
[submodule "3rd/MiniSTM32H7xx"]
	path = 3rd/MiniSTM32H7xx
	url = https://github.com/WeActStudio/MiniSTM32H7xx.git
[submodule "3rd/lvgl"]
	path = 3rd/lvgl
	url = https://github.com/lvgl/lvgl.git
